<table id="tbl">
<!-- col style="{visibility: collapse;}" / -->
<% @tasks.each do |task| %>
<tr CLASS="gridtable">
      <td CLASS="id" style="display: none"><%= task.id %></td>
      <td CLASS="originaldue" style="display: none"><%= task.due.to_s[0,10] %></td>
      <td CLASS="desc" id="desc"><%= task.description %></td>
      <td CLASS="due" id="due"><%= @day[task.due.wday] + " " + task.due.strftime("%d") + "/" + task.due.strftime("%m")+ "/" + task.due.strftime("%y") %></td>
      <td CLASS="prior" id="prior"><%= task.priority %></td>
      <td CLASS="prior edit"><%= link_to t(:Edit), edit_task_path(task) %></td>
      <td CLASS="prior destroy"><%= link_to t(:Destroy), task, :confirm => t(:Are_you_sure?), :method => :delete, :remote => true %></td>
      <td CLASS="ttype" id="ttype" style="display: none"><%= task.ttype %></td>
      <td CLASS="status" id="status" style="display: none"><%= task.status %></td>
      <td CLASS="status_date" id="status_date" style="display: none"><%= task.status_date %></td>
      <td CLASS="budget" id="budget" style="display: none"><%= task.budget %></td>
      <td CLASS="long_description" id="long_description" style="display: none"><%= task.long_description %></td>
      <td CLASS="olddue" id="olddue" style="display: none"><%= task.due.strftime("%d") + "/" + task.due.strftime("%m")+ "/" + task.due.strftime("%Y") %></td>
</tr>
 <% end %>
</table>

<div id="paginateautocomplete">
<%= will_paginate @tasks %>
</div>
