<h2><%= t(:Edit_task) %></h2>

<%= form_for @task, :remote => true, :html => { :id => "edit_task" } do |f| %>
<!-- %= form_for @task, :html => { :id => "edit_task" } do |f| % -->

  <%= render 'shared/error_messages', :object => f.object %> 

  <div class="field">
	<%= f.hidden_field(:id) %>
  </div>
  <div id="description" class="field">
    <%= f.label :description, t(:description) %>
    <%= f.text_field :description, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :due, t(:due) %>
    <%= f.text_field :due, :size => 10 %>
  </div>
  <div class="field">
    <%= f.label :priority, t(:priority) %>
    <%= f.text_field :priority, :size => 1 %>
  </div>

  <div class="actions">
    <%= f.submit t(:Update) %>
  </div>
<% end %>
