
 <script type="text/javascript">
    $(document).ready(function(){
         $(".pagination a").click(function () { 
		 var id = $(this).attr('href');
          $('#task_information').empty().load(id);
         });
    });
 </script>

<table>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.description %></td>
      <td><%= task.due %></td>
      <td><%= task.priority %></td>
      <td><%= link_to t(:Show), task %></td>
      <td><%= link_to t(:Edit), edit_task_path(task) %></td>
      <td><%= link_to t(:Destroy), task, :confirm => t(:Are_you_sure?), :method => :delete %></td>
      </tr><% end %>
</table>

 <%= will_paginate @tasks %>
 <!-- %= will_paginate @tasks, :renderer => RemoteLinkRenderer % -->


