<style type="text/css">
        .row-highlight {background-color: Yellow;}
	.row-white {background-color: white;}
	.active-row
.rowLayout label {width:100px;float:left;}
</style>

<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>

<%= javascript_include_tag 'tasklistview' %>  

<script type="text/javascript">


$(".pagination a").click(function (event) {
    		 event.preventDefault();
		 var id = $(this).attr('href');
		 $('#task_information').empty().load(id);
       		 $('#task-details').empty();
});



$(document).ready(function() {
	//		$( "#tab-container" ).bind( "tabsselect", function() {
			$('#task-details').removeClass('task-info'); 
			$('#task-details').empty();

});


</script>

<table id="tbl">
<!-- col style="{visibility: collapse;}" / -->
<% @tasks.each do |task| %>
    <tr CLASS="gridtable">
      <td CLASS="id" style="display: none"><%= task.id %></td>
      <td CLASS="originaldue" style="display: none"><%= task.due.to_s[0,10] %></td>
      <td CLASS="desc" id="desc"><%= task.description %></td>
      <td CLASS="due" id="due"><%= @day[task.due.wday] + " " + task.due.strftime("%d") + "/" + task.due.strftime("%m")+ "/" + task.due.strftime("%y") %></td>
      <!-- td CLASS="due" id="due"><%= task.due.strftime("%d") + "/" + task.due.strftime("%m")+ "/" + task.due.strftime("%y") --><!-- /td-->
      <td CLASS="prior" id="prior"><%= task.priority %></td>
      <td CLASS="prior edit"><%= link_to t(:Edit), edit_task_path(task) %></td>
      <td CLASS="prior destroy"><%= link_to t(:Destroy), task, :confirm => t(:Are_you_sure?), :method => :delete, :remote => true %></td>
   </tr>
  <% end %>
</table>

<%= will_paginate @tasks %>

 <!-- %= will_paginate @tasks, :renderer => RemoteLinkRenderer % -->
