<h1><%= t(:Change_your_password) %></h1>

<!-- %= form_for @user, :as => :user, :url => { :action => "updatepassword" }, :html => { :id => current_user } do |f| % -->
<%= form_for @user, :as => :user, :url => { :action => "ChangePassword" }, :html => { :id => "change_password" } do |f| %>

  <%= render 'shared/error_messages', :object => f.object %>
   
  <div class="field">
	<%= f.hidden_field(:id) %>
  </div>

  <div class="field">
	  <%= t(:Existing_password) %> <input id="existing_user_password" name="existinguserpassword" size="20" type="password" />
  </div>
  <div class="field">
    <%= f.label :password, t(:New_password) %>
    <%= f.password_field :password, :size => 20 %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, t(:Confirm_new_password) %>
    <%= f.password_field :password_confirmation, :size => 20 %>
  </div>
  <div class="actions">
    <%= f.submit t(:Update) %>
  </div>
<% end %>

