<h1><%= t(:Sign_up) %></h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %> 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 23 %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :size => 45 %>
  </div>
  <div class="field">
    <%= f.label :password, t(:password) %><br />
    <%= f.password_field :password, :size => 20 %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, t(:password_confirmation) %><br />
    <%= f.password_field :password_confirmation, :size => 23 %>

  </div>
  <div class="actions">
    <%= f.submit t(:Sign_up) %>
  </div>
<% end %>

