<h1><%= t(:Password_Reset) %></h1>


<%= form_for @user, :as => :user, :url => { :action => "ResetPassword" }, :html => { :id => "reset_password" } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
	<%= f.hidden_field(:id) %>
  </div>
  <div class="field">
    <%= f.label :password, t(:password) %><br />
    <%= f.password_field :password, :size => 20 %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, t(:password_confirmation) %><br />
    <%= f.password_field :password_confirmation, :size => 20 %>
  </div>
  <div class="actions">
    <%= f.submit t(:Update) %>
  </div>
<% end %>

