<p id="notice"><%= notice %></p>

<p>
  <b>User Name:</b>
  <%= @user.name %>
  <b>User email:</b>
  <%= @user.email %>
</p>

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>	    
      <!--%= link_to "Change Password", :controller => "users", :action => "changepassword", :id => @user %-->
    </td>
  </tr>
</table>
