<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :enDescription %><br />
    <%= f.text_field :enDescription %>
  </div>
  <div class="field">
    <%= f.label :elDescription %><br />
    <%= f.text_field :elDescription %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
