<h1>Listing expenses</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Dateoccured</th>
    <th>Category</th>
    <th>Subcategory</th>
    <th>Type</th>
    <th>Method</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expenses.each do |expense| %>
  <tr>
    <td><%= expense.amount %></td>
    <td><%= expense.dateOccured %></td>
    <td><%= expense.category_id %></td>
    <td><%= expense.subcategory_id %></td>
    <td><%= expense.method %></td>
    <td><%= link_to 'Show', expense %></td>
    <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
    <td><%= link_to 'Destroy', expense, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Expense', new_expense_path %>
