<html>
<head>
<meta http-equiv="Content-Type"
content="text/html;charset=utf-8" />

 <%= javascript_include_tag 'jquery.jqplot.min' %>
 <%= javascript_include_tag 'jqplot.barRenderer.min' %>
 <%= javascript_include_tag 'jqplot.categoryAxisRenderer.min' %>
 <%= javascript_include_tag 'jqplot.pieRenderer.min' %>
 <%= javascript_include_tag 'shCore.min' %>
 <%= javascript_include_tag 'shBrushJScript.min' %>
 <%= javascript_include_tag 'shBrushXml.min' %>
 <%= stylesheet_link_tag 'start/jquery.jqplot.min', :media => 'screen' %>
 <%= stylesheet_link_tag 'start/shCoreDefault.min', :media => 'screen' %>
 <%= stylesheet_link_tag 'start/shThemejqPlot.min', :media => 'screen' %>
 
 
<script type="text/javascript">
       
 $(function() {
	$('#search').autocomplete({
            		minLength: 0,
            		source: function (request, response) {
                            $.ajax({
                                url: "/expenses/shownew", type: "GET", dataType: "script",
//                                url: "/tasks/show", type: "GET", dataType: "json",
				data: { term: request.term },
			    	async: true
            		    })
			},
	    open: function(event, ui) {
			  $(".ui-menu-item").hide();
	    },
	})
 })

$(document).ready(function() {
var statdata = [];
var $tabs = $( "#tab-container" ).tabs({
select: function(event, ui) {
if (ui.index != 4) {
	$('#graph').hide();
	$('#headerdiv').show();
	$('#expense_information').show();
};
if (ui.index == 4) {
	$('#headerdiv').hide();
	$('#expense_information').hide();
	$('#graph').show();
//	event.preventDefault();
	 var request = $.ajax({
	  	url: "/expenses/getChartdata",
	  	type: "GET",
	  	dataType: "json",
		success:function(webdata) {
					var statdatacount = webdata.splice(0,1);
					statdata = webdata;
					if (statdatacount > 0)
						{
						DrawGraphs(statdatacount, statdata);
						}
					else
						{alert( "no data")}
					}
	 });
 	request.fail(function(jqXHR, textStatus) {
	  alert( "Internet: " + textStatus );
	  });
}}
})
});


//  ********* Draw graphs ***********************

 function DrawGraphs(statdatacount, statdata) {
    var data = [[]];
    var datastat = [[]];
    var toggleViewStats = "BarChart"
//    var toggleViewStats = "PieChart"
    for (var i=0; i<statdatacount; i++) {
	    var amount = statdata.splice(0,1);
	    //	    var amount = 100 * (i+1);
	    var description = statdata.splice(0,1);
	    amountnum = parseFloat(amount);
	    data[0].push([amountnum, description]);
	    datastat[0].push([description, amountnum]);
    }
    $.jqplot.config.enablePlugins = true;
    
	if (statdatacount > 0) {
		if (toggleViewStats == "BarChart")
			{
				/* Bar chart */
			    var plot1 = $.jqplot('graph', data, {
				    title: 'bar chart',
			        seriesDefaults:{
			            renderer:$.jqplot.BarRenderer,
			            pointLabels: { show: true, location: 'e', edgeTolerance: -15 },
			            // Rotate the bar shadow as if bar is lit from top right.
			            shadowAngle: 135,
			            // Here's where we tell the chart it is oriented horizontally.
			            rendererOptions: {
			                barDirection: 'horizontal'
			            				}
			        },
			        axes: {
			            yaxis: {
			                renderer: $.jqplot.CategoryAxisRenderer,
			            		}
			        	},
			    });
			}
			else
			{
			    /* Pie chart */
			    var plot1 = jQuery.jqplot ('graph', datastat, 
			    { 
			      seriesDefaults: {
			        // Make this a pie chart.
			        renderer: jQuery.jqplot.PieRenderer, 
			        rendererOptions: {
			          diameter: 300,
			          // Put data labels on the pie slices.
			          // By default, labels show the percentage of the slice.
			          showDataLabels: true
			        }
			      }, 
			      legend: { show:true, location: 'e' }
			    });
			}    
	}
 };

    </script>
</head>
<body>

<h1><%= t(:List_of_expenses) %></h1>

<div id="tab-container">
  <ul>
	  <li ><%= link_to  t(:Expenses), {:controller => "expenses", :action => "shownew", :id => 'E', :page => params[:page], :format=>:js}, :remote=>true, :title => "expense information" %></li>
	  <li ><%= link_to  t(:Income), {:controller => "expenses", :action => "shownew",  :id => 'I',:page => params[:page], :format=>:js} , :remote=>true, :title => "expense information" %></li>
	  <li ><%= link_to  t(:Reccuring_Expenses), {:controller => "expenses", :action => "shownew", :id => 'R', :page => params[:page], :format=>:js} ,:remote=>true, :title => "expense information" %></li>
	  <li ><%= link_to  t(:Budget), {:controller => "expenses", :action => "shownew",  :id => 'B', :page => params[:page], :format=>:js},:remote=>true,  :title => "expense information" %></li>
	  <li ><%= link_to t(:Information), "#expense_information", :title => "expense information" %></li>
  </ul>

<div id="headerdiv">

<input id="search" class="search"/>


<!--  validations on public/javascripts/application.js -->

<%= render 'addExpenseForm' %>

<table>

<thead>

  <tr>
      <th CLASS="expAmount"><%= t(:Amount) %></th>
      <th CLASS="expdateOccured"><%= t(:Date) %></th>
      <th CLASS="expCategory"><%= t(:Category_description) %></th>
      <th CLASS="expSubcategory"><%= t(:Subcategory_description) %></th>
      <th CLASS="expPaymentMethod"><%= t(:Method) %></th>
      <th></th>
      <th></th>
      <th></th>
 </tr>

</thead>

</table>
</div>

<div id="expense_information">
</div>
<!-- div id="graph" style="margin-top:20px; margin-left:0px; width:320px; height:320px;margin-right:10px" -->
<div id="headerinfodiv">
<%= render 'selectInfoForm' %>
</div>

<div id="graph">
</div>

</div>

<div id="expense-details">
</div>

</body>


