<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type"
content="text/html;charset=utf-8" />
 <title>Goldfish</title>
 <%= stylesheet_link_tag 'start/jquery-ui-1.8.16.custom', :media => 'screen' %>
 <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
 <%= stylesheet_link_tag 'blueprint/pagination', :media => 'screen' %>
 <%= stylesheet_link_tag 'blueprint/print', :media => 'print'    %>
 <%= javascript_include_tag 'http://code.jquery.com/jquery-1.6.2.min.js' %>  
 <%= javascript_include_tag 'jquery_ujs' %>
 <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min' %>
 <!-- %= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js' % -->  
 <!-- %= javascript_include_tag 'rails' % -->
 <%= javascript_include_tag 'ym4r-gm' %>  
 <%= javascript_include_tag 'clusterer' %>  
 <%= javascript_include_tag 'geoRssOverlay' %>  
 <%= javascript_include_tag 'markerGroup' %>  
 <%= javascript_include_tag 'wms-gs' %>  
 <%= javascript_include_tag 'jquery.validate', :charset => 'utf-8' %>
 <%= javascript_include_tag 'application', :charset => 'utf-8' %>
 <%= favicon_link_tag 'favicon.ico' %>      
 <%= javascript_include_tag 'i18n', :charset => 'utf-8' %>
 <%= javascript_include_tag 'translations', :charset => 'utf-8' %>
 <!-- %= javascript_include_tag 'jquery.resourcebundle', :charset => 'utf-8' % -->
 <%= javascript_include_tag 'jquery.ui.datepicker-en' %>
 <%= javascript_include_tag 'jquery.ui.datepicker-el' %>

 <script type="text/javascript">
   var tabselected;    
  $(document).ready(function(){
    var tabselected = 0;
    $('#tab-container').tabs({spinner: 'Retrieving data...' });
    $('#tab-container' ).tabs({show: function(event, ui) 
 	{
		var $tabs = $('#tab-container').tabs();
		tabselected = $tabs.tabs('option', 'selected');
		alert(tabselected);
	}
    });
		  
    $('#tab-container').tabs({ajaxOptions: {
        error: function(xhr, status, index, anchor) {
            $(anchor.hash).html("Couldn't load this tab.")
        },
        data: {},
        success: function(data, textStatus) {
        },
      }
    });
  });
//    $('.pagination a').attr('data-remote', 'true');
//    $('.pagination a').trigger('tabsselect');	  
//  $(document).ready(function(){
//    $('.pagination a').attr('data-remote', 'true');
//    });
  //   $('#task_information').$('.pagination a').click();
  //          $('.pagination a').click(function() {
  //        $('#task_information').click();
	//  });

 </script>


 <script type="text/javascript">
  var I18n = I18n || {};
  I18n.defaultLocale = "<%= I18n.default_locale %>";
  I18n.locale = "<%= I18n.locale %>";
jQuery(function($){
  $.datepicker.setDefaults($.datepicker.regional[I18n.locale]);
   });
  </script>

 <%= raw GMap.header(options={:hl => I18n.locale}) if @map %>
 <%= raw @map.to_html if @map %>

 <%= csrf_meta_tag %>

</head>
<!-- body style="background: #EEEEEE;" -->
<div class="container">
      <header>
        <nav class="round">
        <%= image_tag("goldfish.png", :alt => "Sample App", :class => "round") %>
	<%= link_to t(:Home), root_url %>
            <%= link_to t(:Help), '#' %>
            <% if signed_in? %>
	        <%= link_to t(:Profile), current_user %>
	        <%= link_to t(:Settings), edit_user_path(current_user) %>
	        <%= link_to t(:Sign_out), signout_path, :method => :delete %>
		<%= link_to t(:Change_Password), :controller => "users", :action => "ChangePasswordRequest", :id => current_user %>		
      	    <% else %>
                <%= link_to t(:Sign_in), signin_path %>
		<%= link_to t(:Forgot_your_password), :controller => "users", :action => "MailPasswordRequest" %>
            <% end %>
        </nav>
      </header>
	   <br /> <br />
	   <section class="round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </section>
        <%= yield %>
      </section>
    </div></body>
</html>


